	<!-- Dash Bar -->
	<div class="ui vertical inverted sidebar labeled icon menu" id="dashbar">
		<a class="item" href="#/dash">
			<i class="dashboard icon"></i>
			Dash
		</a>
		<a class="item" href="#/posts">
			<i class="list layout icon"></i>
			Posts
		</a>
		<a class="item" href="#/posts/new">
			<i class="write square icon"></i>
			Add Post
		</a>
		<a class="item" href="#/comments">
			<i class="comments icon"></i>
			Comments
		</a>
		<a class="item" href="#/pages">
			<i class="file text outline icon"></i>
			Pages
		</a>
		<a class="item" href="#/pages">
			<i class="add circle icon"></i>
			Add Page
		</a>
		<a class="item" href="#/users">
			<i class="users icon"></i>
			Users
		</a>
		<a class="item" href="#/settings">
			<i class="setting icon"></i>
			Settings
		</a>
		<a class="item" href="/logout">
			<i class="sign out icon"></i>
			Log Out
		</a>
	</div>